.main{
  display: flex;
  flex-wrap: wrap;
   margin-left:120px;
}

.FirstText{
  position: absolute;
  margin-top:200px;
  margin-left:120px;
  font-size:24px;
  font-style: Merriweather, serif;
}

.SecondText{
  position: absolute;
  margin-top:240px;
  margin-left:130px;
  font-size:50px;
  font-style: Merriweather, serif;
}
#background{
  position: relative; 
  left: 30px; 
  top: 70px; 
  width: 200px; 
}
  
p{
  color: #222 grey;
  font-family: 'Josefin Sans', sans-serif;
}

section {
  margin-left: 250px;
  margin-right:230px;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1.5;
  font-size:15px;
  color: #222;
  letter-spacing: 0px;
}

.quote{
  bakground: 	#696969;
  display: flex;
  margin-right: 200px;
  margin-left: 250px;
  padding: 2px;
  position: relative;
}

blockquote {
  font-family: Abril Fatface;
  font-size: 25px;
  color: white;
  background:grey;
  width: 500px;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px
     color: white;
}


blockquote::before{
  content: ' ❝ ';
  font-family: Abril Fatface, cursive;
  font-size: 36px;
}

h2,h3,h4 {
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top:20px;
  position: block;
  font-family: 'Abril Fatface', cursive;
  color: #222 grey;
   line-height: 1.5;
}

h2 {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top:0px;
  position: block;
  font-family: 'Abril Fatface', cursive;
  color: #222 grey;
}

li{
  position: block;
}


.quote {
    background:grey;
  margin-left: 220px;
  margin-right:200px;
  padding: 1px;
  postion: relative;
}
a{
  margin-left:500px;
}